
body{
  background: #f0f0f0;
  font-family: : 'Poiret One', cursive;
}
h1{
  color: orange;
}
h2,h3,h4,h5,h6{
  color: #444;
}
footer{
  background: #222;
  padding: 20px;
}
.page{
  background: #fff;
  border-radius: 1em;
  margin: 500px;
  min-height: 500px;
  padding: 1em;
}

.ini{
  padding-bottom: 5%;
  margin-bottom: 0;
  padding-top: 10%;
  margin-top: 0;
}

.icon-home{
  color: #666;
  font-size: 60px;
  margin: 20px;
}
.btn-home-admin{
  font-size: 25px;
}
